<div data-controller="game"
     data-game-uuid-value="<%= @game.uuid %>"
     data-game-player-value="<%= session["game_#{@game.uuid}_player_role"] %>" class="">
  <h2 class="text-center text-xl font-bold">You are Player <%= session["game_#{@game.uuid}_player_role"] %></h2>
  
  <div id="turn-info" class="mb-2 text-center text-xl font-bold"></div>
  <div id="message" class="mb-2 text-center text-xl font-bold"></div>

  <div class="flex flex-col lg:flex-row gap-16 lg:gap-52 pb-16 lg:pb-0">
    <div>
      <h3 class="text-center">Your Board</h3>
      
      <div class="grid grid-cols-11 gap-1 bg-blue-500 p-2 max-w-fit mx-auto">
        <div class="w-10 h-10"></div>
        <% ('А'..'Й').each do |letter| %>
          <div class="w-10 h-10 flex items-center text-white justify-center font-bold"><%= letter %></div>
        <% end %>
      </div>

      <div id="player-board" class="grid grid-cols-11 gap-1 bg-blue-500 p-2 max-w-fit mx-auto">
        <% 10.times do |row| %>
          <div class="w-10 h-10 flex items-center justify-center text-white font-bold"><%= row + 1 %></div>
            <% 10.times do |col| %>
              <div id="player-cell-<%= row %>-<%= col %>" class="w-10 h-10 border border-5 border-white rounded-lg flex items-center justify-center"></div>
            <% end %>
        <% end %>
      </div>
    </div>


    <div>
      <h3 class="text-center">Opponent's Board</h3>
      <div class="grid grid-cols-11 gap-1 bg-blue-500 p-2 max-w-fit mx-auto">
        <div class="w-10 h-10"></div>
        <% ('А'..'Й').each do |letter| %>
          <div class="w-10 h-10 flex items-center text-white justify-center font-bold"><%= letter %></div>
        <% end %>
      </div>

      <div id="opponent-board" class="grid grid-cols-11 gap-1 bg-blue-500 p-2 max-w-fit mx-auto">
        <% 10.times do |row| %>
          <div class="w-10 h-10 flex items-center justify-center text-white font-bold"><%= row + 1 %></div>
          <% 10.times do |col| %>
            <div id="opponent-cell-<%= row %>-<%= col %>"
                 data-action="click->game#fire"
                 data-x="<%= col %>"
                 data-y="<%= row %>"
                 class="w-10 h-10 border border-5 border-white rounded-lg flex items-center justify-center"></div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
